In [31]:
import numpy
import psycopg2
import pandas as pd
import os
from dotenv import load_dotenv

In [32]:
# .env 파일 로드
load_dotenv()

# 환경변수 읽기
host = os.getenv("REDSHIFT_HOST")
port = os.getenv("REDSHIFT_PORT")
dbname = os.getenv("REDSHIFT_DB")
user = os.getenv("REDSHIFT_USER")
password = os.getenv("REDSHIFT_PASSWORD")

In [33]:
conn = psycopg2.connect(
    host = host,
    port = int(port),
    dbname = dbname,
    user = user,
    password = password,
    sslmode="require"
)

In [34]:
#
cur = conn.cursor()

In [35]:
cur.execute("select current_date;")

In [36]:
print(cur.fetchone())

(datetime.date(2025, 10, 1),)

In [37]:
cur.close()

In [38]:
conn.close()

In [30]:
df = pd.read_sql('select * from information_schema.tables limit 10;', conn)
print(df)

/var/folders/n1/fwqfkrg14bv45svdswv4v5h80000gn/T/ipykernel_21052/2891636957.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select * from information_schema.tables limit 10;', conn)

InterfaceError: connection already closed

In [28]:
create_users = """
create table if not exists users(
    user_id int primary key,
    name varchar(50),
    age int,
    country varchar(10)
);
"""